.Dash_Overview {
  width: 100%;
  /* display: flex; */
  flex: 1;
}

.cardDash {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) !important;
  --bs-card-border-width: none !important;
}
.btn-soft-secondary {
  background-color: rgba(116, 120, 141, 0.1) !important;
  border-color: transparent !important;
  color: #74788d !important;
}
.btn-sm-overview {
  --bs-btn-padding-y: 0.25rem !important;
  --bs-btn-padding-x: 0.5rem !important;
  --bs-btn-font-size: 0.76562rem !important;
  --bs-btn-border-radius: 0.2rem !important;
}

.btnOverview {
  background-color: #0bb197 !important;
  border: 0px solid #ffffff !important;
  padding: 0.35rem !important;
  text-decoration: none;
  /* font-size: 14px !important; */
}
.btn-soft-primary {
  background-color: rgba(11, 177, 151, 0.1) !important;
  border-color: transparent !important;
  color: #0bb197 !important;
}
.btn-soft-secondary {
  background-color: rgba(116, 120, 141, 0.1) !important;
  border-color: transparent !important;
  color: #74788d !important;
}
.btn-check:checked + .btn,
.btnOverview.active,
.btnOverview.show,
.btnOverview:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
  color: var(--bs-btn-active-color);
}
.cicularIcon {
  font-size: 18px;
  position: relative;
  bottom: 2px;
  padding-right: 2px;
}
