.avtarImag {
  width: 40px;
}

.replyBtn {
  /* --bs-btn-padding-x: 0.75rem !important;
  --bs-btn-padding-y: 0.47rem !important;
  --bs-btn-font-size: 0.875rem !important;
  --bs-btn-font-weight: 400 !important;
  --bs-btn-line-height: 1.5 !important;
  --bs-btn-border-width: 1px !important;
  --bs-btn-border-radius: 0.25rem !important;
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-color: #505d69 !important; */

  background-color: #505d69 !important;
  border-radius: 5px;
  color: #ffffff !important;
  padding-left: 5px;
  padding-right: 11px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: none;
}

.replyDiv {
  padding-top: 33px;
}

.card1 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  margin-bottom: 24px;
  --bs-card-border-width: none !important;
}
