.sidebar {
  width: 250px;
  /* background-color: #1b2c3f; */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  display: flex;
}
.logo {
  padding: 20px 10px;
  text-align: center;
}

.navbar {
  overflow: auto;
}
.menu-lists {
  width: 100%;
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.dash {
  padding-left: 10px;
}
.menu-lists.dash a:hover {
  color: #ffffff !important;
}

.menu-lists a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #8590a5;
}
.accordion {
  background-color: #1b2c3f;
  /* --bs-accordion-btn-icon: url("../../Images/down-arrow.png") !important; */
  --bs-accordion-btn-active-icon: url("../../Images/down-arrow.png") !important;
  --bs-accordion-btn-padding-y: 0.8rem !important;
  --bs-accordion-border-color: none !important;
  --bs-accordion-body-padding-y: 0.01rem !important;
  --bs-accordion-btn-icon-width: 0.95rem !important;
}
.accordion:hover {
}
.accordion-item {
  border-radius: 0;
  background-color: #1b2c3f !important;
  border: none !important;
  --bs-accordion-btn-icon: url("../../Images/down-arrow1.png") !important;
}
.accordion-header {
  background: none !important;
}
.accordion-button {
  background: none !important;
}
.accordion-button {
  color: #8590a5 !important;
}
.accordion-button:after {
  color: #ffffff !important;
  /* --bs-accordion-btn-icon: url("../../Images/down-arrow.png") !important; */
}

.accordion-button:focus {
  box-shadow: none !important;
  border-color: rgba(0, 0, 0, 0.125) !important;
}
.accordion-button.collapsed {
}
.accordion-button.collapsed :hover {
  color: #ffffff !important;
}
.accordion-item :hover {
  color: #ffffff !important;
  --bs-accordion-btn-icon: url("../../Images/down-arrow.png") !important;
}
.navbar .bg-secondary {
  --bs-bg-opacity: 1 !important;
  background-color: #2ca491 !important;
}

.badge1 {
  /* --bs-badge-padding-x: 0.7em !important;
  --bs-badge-padding-y: 0.25em !important;
  --bs-badge-font-size: 85% !important;
  --bs-badge-font-weight: 500 !important;
  --bs-badge-color: #fff !important;
  margin-right: 9px; */
  position: relative !important;
  top: 4px;
  left: 10px;
  z-index: 111111 !important;
}

.fontIcon18 {
  font-size: 18px !important;
  position: relative !important;
  bottom: 0px !important;
  margin-right: 0px !important;
}
.fontIcon17 {
  font-size: 16px !important;
  position: relative !important;
  bottom: 0px !important;
  margin-right: 0px !important;
}

/* ......................... */
.ps-menu-button {
  background-color: #1b2c3f !important;
  color: #8590a5 !important;
}
.css-16jkw2k > .ps-menu-button:hover {
  color: #f3f3f3 !important;
  background-color: #1b2c3f !important;
}
.css-16jesut > .ps-menu-button:hover {
  color: #f3f3f3 !important;
  background-color: #1b2c3f !important;
}
.css-12w9als {
  overflow: hidden !important;
}
.css-ewdv3l {
  background-color: #1b2c3f !important;
}
.subItempadding {
  padding-left: 25px !important;
  background-color: #1b2c3f !important;
}
.subItempadding a {
  height: 40px !important;
  font-size: 14px;
}
.subItempadding a :hover {
  color: #f3f3f3 !important;
}

/* .ps-menuitem-root .css-1l5fxv3 :hover {
} */
