.app__layout {
  display: flex;
  padding-left: 250px;
  height: auto;
  transition: all 800ms;
  overflow: hidden;
}
.app__layout.short__sidebar {
  padding-left: 80px;
}
.layout_main_body {
  width: 100%;
  /* z-index: 1002; */
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.layoutPading {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 25px;
}
.label1 {
  font-weight: 600;
  font-size: 18px !important;
}
.BreadCrumbsStack {
  align-items: flex-end;
}
.Breadcrumbs1 {
  font-size: 0.9rem !important;
}
